* {
  box-sizing: border-box;   /* borders and vnytr otstyp bydyt ychituvatsia in width and height elements */
}

html {
  scroll-behavior: smooth;
}

/* html {
  box-sizing: border-box;
} */

*, *::before, *::after {
box-sizing: inherit;   /* nasledovanie from parents */
}

body {
  /* min-height: 100vh;
  margin: 0;
  padding: 0; */
  
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;

background-color: green;
}

.container {
  max-width: 1200px;
   margin: 0 auto;  /* vuravnivanie po centry contenta*/
}

.section {
  /* width: 50%; */
  /* flex: 1 1 auto; */
  /* border: 3px solid #1be235; my */

  /* padding: 20px; */

  /* margin: 30px;  no auto */
}

/* @media(max-width: 768px) {
  .section {
    width: 100%;
  }
} */

.header_wrapper {
  display: flex;
  justify-content: space-between;
}

.header_logo-title {
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 110%;
/* or 35px */
/* 
display: flex;
align-items: center; */
letter-spacing: 0.06em;

/* color-primary */

color: #F1CDB3;
}

.header_logo-subtitle {
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height */

/* display: flex;
align-items: center; */
letter-spacing: 0.1em;

/* color-light-xl */

color: #FFFFFF;
}

.header_nav-list {
  display: flex;
  justify-content: space-between;
}

.header_nav-item {
  margin-right: 35px;
}

.header_nav-link {
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
/* identical to box height, or 24px */
/* color-dark-s */

color: #CDCDCD;

text-decoration: none;
}

#link_active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;;
}

/* Start_screen-content */
.start_screen-content {
  display: flex;
  justify-content: space-between;
}