* {
  box-sizing: border-box;   /* borders and vnytr otstyp bydyt ychituvatsia in width and height elements */
}

html {
  scroll-behavior: smooth;
}

/* html {
  box-sizing: border-box;
} */

*, *::before, *::after {
box-sizing: inherit;   /* nasledovanie from parents */
}

body {
  /* min-height: 100vh;
  margin: 0;
  padding: 0; */
  
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
}

.container {
  max-width: 1280px;
   margin: 0 auto;  /* vuravnivanie po centry contenta*/
}

.section {
  /* width: 50%; */
  /* flex: 1 1 auto; */
  /* border: 3px solid #1be235; my */

  /* padding: 20px; */

  /* margin: 30px;  no auto */
}

/* @media(max-width: 768px) {
  .section {
    width: 100%;
  }
} */

.section_content {
  margin: 80px 40px 100px 40px;
}



/*  -------------------------  Header  -------------------------------  */


.header_wrapper {
  display: flex;
  justify-content: space-between;

  margin: 48px 40px 72px40px;
}

.header_logo-title {
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 110%;
/* or 35px */
/* 
display: flex;
align-items: center; */
letter-spacing: 0.06em;

/* color-primary */

color: #F1CDB3;
}

.header_logo-subtitle {
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height */

/* display: flex;
align-items: center; */
letter-spacing: 0.1em;

/* color-light-xl */

color: #FFFFFF;
}

.header_nav-list {
  display: flex;
  justify-content: space-between;
}

.header_nav-item {
  margin-right: 35px;  /*otstup from right */
}

.header_nav-item:last-child {
  margin-right: 0px;
}

.header_nav-link {
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
/* identical to box height, or 24px */
/* color-dark-s */

text-decoration: none;
  /* transition: color 0.5s; */
color: #CDCDCD;
}

#link_active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;;
}

.header_nav-link:hover,
.header_nav-link:focus,
.header_nav-link:active {
  opacity: .75;
  /*color: #5d7260;      /* pri navedenii */
}


/*  -----------------  Start_screen-content  --------------------- */

.start_screen {
  background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20; 

  /*min-height: 100vh;   no write max-height if change (rise) content */
  /* background: url(./assets/img/header-bg.jpg) no-repeat center; */
  /* background-size: cover; */
}


.start_screen-content {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;

  margin: 72px 40px 0 40px;
}

.content {
  margin-top: 163px;
  margin-right: 42px;
}

h2.heading {
  margin-bottom: 42px;

  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 130%;
/* or 57px */

display: flex;
align-items: center;

/* color-light-xl */

color: #FFFFFF;

}

.start_screen-content p.subheading {
  margin-bottom: 42px;

  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
/* or 24px */

display: flex;
align-items: center;

/* color-dark-s */

color: #CDCDCD;

}

.button-make_a_friend {
  background: #F1CDB3;
border-radius: 100px;
}

.button_nav-link {
padding: 15px 45px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
/* identical to box height, or 22px */

letter-spacing: 0.06em;

/* color-dark-3xl */

color: #292929;

text-decoration: none;

}

.start_screen-puppy  {
  /* margin-right: 40px; */
}



/*  ------------------------  About  ------------------------- */


#about-content {
  display: flex;
  justify-content: space-between;
}

.about-pets {
margin-right: 120px;
margin-left: 175px;
}

h3.heading {
  margin-bottom: 25px;

  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
/* or 45px */

display: flex;
align-items: center;
letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;
}

.subheading {
  margin-bottom: 25px;

  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
/* or 24px */

display: flex;
align-items: center;

/* color-dark-xl */

color: #4C4C4C;

}



/* ----------------------  Start styles Pets  -------------------------- */


#pets {
  background: #F6F6F6;
}

#pets h3.heading {
  margin-bottom: 60px;

text-align: center;
}

.slider {
  margin-bottom: 60px;
}

.pets-katrine {
  margin-bottom: 30px;
}

.pets-card-title {
  margin-bottom: 30px;

  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;

}

.learn_more {
  border: 2px solid #F1CDB3;
box-sizing: border-box;
border-radius: 100px;

padding: 15px 45px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
/* identical to box height, or 22px */

letter-spacing: 0.06em;

/* color-dark-3xl */

color: #292929;

}

.button_primary {
  background: #F1CDB3;
border-radius: 100px;
}

.get_to_know_the_rest {
  padding: 15px 45px;
  margin: 10px 0px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
/* identical to box height, or 22px */

letter-spacing: 0.06em;

/* color-dark-3xl */

color: #292929;

text-decoration: none;

}


/* ----------------------  Pets styles end -------------------------- */